<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384027007463-76tn5fov6vmf6o2ctugjl1faucq9bkfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384027007463-76tn5fov6vmf6o2ctugjl1faucq9bkfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAqVobYuD19NfO-vgVVq_cUiFEulp7Udd8</string>
	<key>GCM_SENDER_ID</key>
	<string>384027007463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.givnite.Givnite</string>
	<key>PROJECT_ID</key>
	<string>givniteapp</string>
	<key>STORAGE_BUCKET</key>
	<string>givniteapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:384027007463:ios:db3fad07c47da1d7</string>
	<key>DATABASE_URL</key>
	<string>https://givniteapp.firebaseio.com</string>
</dict>
</plist>